<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Settings1.ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;H:\Eigene Dateien\C#\Kunden-1\DataAccess\Data\kunden.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>